body {
  background: #02040a;
  color: #fff;
  font-family: Cairo;
  direction: rtl;
}

header {
  text-align: center;
  padding: 40px;
  background: #070b18;
}

#posts {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 25px;
  padding: 40px;
}

.post {
  background: #0b1228;
  border-radius: 18px;
  overflow: hidden;
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post .content {
  padding: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
}